@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


//global styling for whole website 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Condensed", sans-serif;
    font-size: large;
}

// ---------------------------------------------

// navbar styling
.navbar {
    background-color: whitesmoke;
  //  margin-top: 20px;
    position: relative;
}

// links style
.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.4s;

    &:hover {
        color: green;
    }

}

// webisite i.e AgriKart style
.navbar-brand {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: green;
}

// cart style 
.bi-bag-plus {
    font-size: 30px;
    color: black;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.4s;

    &:hover {
        color: green;
    }
}

/* Style for the search and cart section */
.search-cart-section {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.search-cart-section form {
    display: flex;
}

@media (max-width: 991px) {
    .d-flex.fluid {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .form-control {
        width: 100%;
        max-width: 100%;
    }

    .btn-outline-success {
        flex-shrink: 0;
    }

    .bi-bag-plus {
        font-size: 30px;
        color: black;
        cursor: pointer;
        padding-top: 5px;
        transition: all 0.4s;

        &:hover {
            color: green;
        }
    }
}

// ----------------------------------------------------

// backgroung for home and the text 
.main {
    background: url(../img/background.jpeg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

    h1 {
        font-size: 5rem;
        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    // Style for adding a black transparent box
    .home-container {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5rem;
        margin-top: 50px;
        
        // shop now button
        .mbtn-2 {
            height: 50px;
            width: 25%;
            outline: none;
            background-color: transparent;
            color: white;
            border: 1px solid white;
            border-radius: 50px;
            transition: all 0.4s;

            &:hover {
                background-color: green;
            }
        }
    }
    // quote line style 
    .line {
        font-size: x-large;
    }

    p {
        font-size: large;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .main {
        .home-container {
            padding: 2rem;
            margin-top: 20px;
        }
    }
}

@media (max-width: 576px) {
    .main {
        h1 {
            font-size: 3rem;
        }

        .home-container {
            padding: 1rem;
        }
    }
    .addToCart{
        width: 100%;
    }

}

.rating{
    color: gold;
}

// style for displaying the product category in the top of the respective page within a black, transparent rectangle box
.container-product {
    background-color: rgba(37, 154, 70, 0.67);
    color: white;
    padding: 3rem;
    margin-top: 0px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
// background img 
.product-main {
    background: whitesmoke;
    background-size: cover;
    height: 100%;
    width: 100%;
    
}



.icon-hover-primary:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
  }
  
  .icon-hover-primary:hover i {
    color: #3b71ca !important;
  }
  .icon-hover-danger:hover {
    border-color: #dc4c64 !important;
    background-color: white !important;
  }
  
  .icon-hover-danger:hover i {
    color: #dc4c64 !important;
  }

  .card-text{
    margin-bottom: 5px;
  }
.card-body{
    margin-right: 1rem;
    margin-left: 1rem;
}
