{% extends "layout.html" %}

{% block title %}
Home
{% endblock title %}

{% block content %}
    <main>
        <section>
            <h2>About Us</h2>
            <p>This is a simple home page created to demonstrate basic HTML and CSS. You can learn more about our services and contact us through the links above.</p>
        </section>
        <section>
            <h2>Services</h2>
            <p>We offer a variety of services to cater to your needs. Stay tuned for more updates!</p>
        </section>
    </main>
{% endblock content %}
