{% extends 'base.html' %}

{% block title %}Course List{% endblock %}

{% block content %}
    <h2>Courses</h2>
    {% if user.role == 'teacher' %}
        <a href="{% url 'course_create' %}" class="btn btn-primary">Create New Course</a>
    {% endif %}
    <ul class="list-group mt-3">
        {% for course in courses %}
            <li class="list-group-item">
                <a href="{% url 'course_detail' course.name %}">{{ course.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}